<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<body>

	<div th:fragment="conteudo">
		<div class="container-lg">
		<br><br><br><br>
		<p>
		<img src="https://i.uai.com.br/4G7tkRrsZ1vSE8wQMCyA9eIvvpo=/imgsapp2.uai.com.br/app/noticia_133890394703/2017/08/17/211716/20170817091653380426a.jpg" height=300/>
		<img src="https://s2.glbimg.com/2tvJKhhfrz1ulyQRvbHunQEQojQ=/e.glbimg.com/og/ed/f/original/2019/10/31/carlos.drumond.png" height=300/>
		</p>
		</div>
	</div>

</body>
</html>