<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">

<body>

	<div th:fragment="conteudo">
		<div class="container-lg">
			
			<h1>No Meio do Caminho</h1>
				<h2>Carlos Drummond de Andrade</h2>
			<br><br>
					<p>No meio do caminho tinha uma pedra</p>
					<p>Tinha uma pedra no meio do caminho</p>
					<p>Tinha uma pedra</p>
					<p>No meio do caminho tinha uma pedra</p>
					<br>
					<p>Nunca me esquecerei desse acontecimento</p>
					<p>Na vida de minhas retinas tão fatigadas</p>
					<p>Nunca me esquecerei que no meio do caminho</p>
					<p>Tinha uma pedra</p>
					<p>Tinha uma pedra no meio do caminho</p>
					<p>No meio do caminho tinha uma pedra</p>
					
					
				
		</div>

	</div>

</body>
</html>